.detail-page {
    display: flex;
    flex-direction: column;
}

.detail-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1.976vw 0;
    flex: 1 1 0%;
    height: 100%;
    margin: 0px auto;
}

.post-head {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: dense;
    align-items: center;
    justify-content: start;
    gap: 0;
    padding: 1vw 20vw;
}

.head-detail {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: start;
}

.head-detail img {
    width: 12vw;
    margin: 0 2vw;
}

.detail-title {
    margin: 1vw 2vw;
    max-width: 32vw;
    line-height: 1.35;
    font-size: 2.5vw;
    font-weight: 900;
    font-family: 'Geologica', sans-serif;
}

.detail-colab {
    text-decoration: none;
    color: #9fa2ad;
    font-size: 0.9vw;
    transition: color 0.1s ease-in-out;
    font-family: obviously, sans-serif;
}

.table ul {
    list-style: none;
}

.section-link {
    text-decoration: none;
    color: #9fa2ad;
    font-size: 0.9vw;
    transition: color 0.1s ease-in-out;
    font-family: obviously, sans-serif;
}

.section-link:active,
.section-link:hover {
    text-decoration: none;
    color: #3c3f45;
}

.section-title {
    font-size: 2.2vw;
    font-weight: 700;
    max-width: 660px;
    line-height: 3.019vw;
    scroll-margin-top: 80px;
    font-family: 'Geologica', sans-serif;
}

.content-block {
    font-size: 1.15vw;
    margin-top: 1vw;
    width: 50vw;
}

.content-subtitle {
    font-size: 3vw;
    line-height: 3vw;
    font-weight: 700;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-family: 'Geologica', sans-serif;
}

.content-text{
    font-family: obviously, sans-serif;
}

.content-list{
    list-style-type: disc;
    margin: 1vw 0vw 0vw;
    overflow: visible;
    word-break: break-word;
    font-size: 1.15vw;
    font-weight: 350;
    font-family: obviously, sans-serif;
}

.content-block img {
    border-style: groove;
    border: 1px solid rgb(209, 212, 219);
    border-radius: 0.68vw;
    width: 30vw;
    height: auto;
    margin-top: 1vw;
    margin-bottom: 2vw;
}

.detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin: 0 1.54vw;
    padding: 0 0.54vw;
    text-align: left;
}

.suscribe-form {
    position: sticky !important;
    top: 5vw;
    align-self: flex-start;
}

.table {
    display: flex;
    flex-direction: column;
    position: sticky !important;
    top: 5vw;
    align-self: flex-start;
    text-align: left;
    font-weight: 500;
    max-width: 303.017vw;
    margin-right: 30px;
    margin-top: 22px;
    line-height: 1.33vw;
}

.table h3 {
    font-size: 1.2vw;
    padding-left: 2.4vw;
    padding-bottom: 16px;
    font-family: 'Geologica', sans-serif;
}

@media (max-width: 388px){

}