.home-container {
  display: flex;
  height: 89vh;
  align-items: start;
  text-align: center;
  justify-content: center;
  background-color: #f6f6f7;
}
  
.grid-container {
  display: grid;
  height: fit-content;
  width: 68.841vw;
  padding: 2vw calc(4vw + 65px);
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
}
  
.grid-item {
  align-items: center;
  width: 15.75vw;
  height: 20.022vw;
  text-align: start;
}

.grid-item a{
  text-decoration: none;
  color: inherit;
}