.home-container {
    height: 75vh;
    align-items: center;
    text-align: center;
}

.vw-container {
    margin-top: 20px;
  }
  
  .vw-container h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: inherit;
  }
  
  .grid-container {
    display: grid;
    align-items: center;
    height: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
  
  .grid-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }