.navbar {
    display: flex;
    align-items: center;
    position: sticky !important;
    align-self: flex-start !important;
    justify-content: space-evenly !important;
    max-width: 100%;
    background-color: white;
    top: 0;
    z-index: 1000;
  }

  .nav-logo a {
    text-decoration: none;
    color: inherit;
    margin-right: 0.5vw;
  }

  .sp1,
  .sp2 {
    font-weight: 600;
    font-size: 0.832vw;
    font-family: obviously, sans-serif;
  }
  
  .sp1:hover,
  .sp2,
  .nav-item a:hover {
    color: #ff5733 !important;
  }

  .nav-item a {
    text-decoration: none;
    color: inherit;
  }
  .nav-logo img {
    max-width: 3.12vw;
    max-height: auto;
  }
  
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.832vw;
    font-family: obviously, sans-serif;
  }
  
  .nav-item:hover .nav-ul {
    display: block;
  }
  
  .nav-ul {
    display: none;
    position: absolute;
    top: 60%;
    background-color: white;
    padding: 0.5rem 0;
    list-style: none;
    margin: 0;
    width: 12vw;
    z-index: 1000;
    white-space: nowrap;
}
  
  .nav-ul li {
    padding: 0.68vw;
    margin: 0;
    white-space: nowrap;
    text-decoration: none;
    color:initial;
  }

  .dp-m-a {
    font-weight: 600;
    font-size: 0.832vw;
    text-decoration: none;
    color: initial;
  }
  
  .nav-ul li:hover {
    background-color: #f0f0f0;
  }